.navigation{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 25px;

    .logo-container{
    height: 100%;
    width: 75px;
    padding: 25px;
}
.nav-links-container{
    width: 50%;
    height: 100%;
    line-height: 65px;
}
.nav-link{
    margin-left: 15px;
    
}
}
